.main_container {
    width: 100%;
    margin: 0;
    background-color: #F7F5F5;
    position: relative;
    top: 120px;
    z-index: 90;
    display: flex;
}

.section_container {
    width: 85%;
    margin-left: 15%;
    overflow: hidden;
    min-height: calc(100vh - 120px);
    position: relative;
    z-index: 95;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title_detail_club{
    width: 50%;
    text-align: center;
}
.detail_club_grid {
    /* background-color:red; */
    width: 95%;
    display: flex;
    justify-content: space-evenly;
}

.detail_club_column1 {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    height: 1000px;
}
.detail_club_column1 img{
    width: 100%;
    margin-top: 10px;

}
.detail_club_item1 {
    padding: 0;
    margin-top: 50px;
}
.detail_club_item1 li{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.name_detail_item1{
    font-weight: bold;
}
.detail_club_column2 {
    width: 60%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}
.detail_club_column2 h1{
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}
.wiki_text_detail_club{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wiki_text_detail_club img{
    margin: 20px 0;
    width: 95%;
}