
.aside_container{
    background-color: #3F3D3D;
    width: 15%;
    height: 100%;
    color:#fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 94;
}


.aside_icon {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    margin-bottom: 40px;

}
.fa-bars {}

.aside_links {

}

.aside_links_list {
    padding: 0;
}
.aside_links_list li {
    margin-top: 10px;
    height: 30px;
    width: 100%;
    /* border-bottom: 1px solid #fff; */
}
.aside_links_list a {
    color: #fff;
    margin-left: 20px;
}
.aside_links_list a:hover {
    color: red;
    border-bottom: 2px solid red;
}

